body, html
	width: 100%
	height: 100%
	font-family: 'Adelle', sans-serif;
	font-size: $font-base-size
	font-weight: 400
	color: $c-text
	background-color: $c-white

.main-wrapper
	position: relative

.section
	margin-bottom: 80px
	+bp($screen-lg)
		margin-bottom: 50px 

.main-col-left
	padding-right: 30px
	+bp($screen-lg)
		padding-right: 15px

.main-col-right
	padding-left: 30px
	+bp($screen-lg)
		padding-left: 15px