.c-heading
	margin-bottom: 20px

	&__photo
		@keyframes motion
			50%
				transform: rotate(0deg)

		width: 250px
		height: 250px
		border: 2px solid $c-border
		border-radius: 50%
		background-size: cover
		background-position: center
		margin-bottom: 40px
		transform: rotate(-3deg)
		animation: motion .5s 1s ease-in-out

		+bp($screen-lg)
			width: 180px
			height: 180px

		+bp($screen-sm)
			margin: 0 auto 40px auto

	&__title
		margin: 0

		+bp($screen-sm)
			text-align: center

	&__subtitle
		margin-top: 15px
		font-size: 20px

		+bp($screen-sm)
			text-align: center

	&__text
		font-size: 18px
		margin-top: 20px
		margin-bottom: 30px
		color: $c-text-faded

		+bp($screen-sm)
			text-align: justify
	
	&__hr
		margin: 0

		+bp($screen-sm)
			margin: 10px auto

	&__line
		width: 100%
		border-width: 2px