.c-tools
	margin-top: 27.5px
	padding: 0

	+bp($screen-sm)
		justify-content: center
		margin-top: 30px

	display: flex
	flex-wrap: wrap
	align-items: center

	&__item
		display: flex
		width: 75px
		height: 75px

		.box
			width: 100%
			height: 100%
			position: relative
			transform-origin: 50% 50%
			transform-style: preserve-3d
			transition: transform .25s ease-in-out
				
			.desc,
			.icon
				backface-visibility: hidden
				display: flex
				position: absolute 
				top: 0
				left: 0
				width: 100%
				height: 100%

			.desc
				background-color: $c-black
				color: $c-white
				align-items: center
				justify-content: center
				text-align: center
				transform: rotateX(-90deg) translate3d(0px,0px,37.5px)
				pointer-events: none

			.icon
				background-size: 37.5px
				background-color: $c-white
				background-position: center
				background-repeat: no-repeat
				transform: rotateX(0deg) translate3d(0px,0px,37.5px)


				&--html5
					background-image: url('#{$icons}/html5.svg')
				
				&--css3
					background-image: url('#{$icons}/css3.svg')

				&--js
					background-image: url('#{$icons}/js.svg')

				&--php
					background-image: url('#{$icons}/php.svg')

				&--windows
					background-image: url('#{$icons}/windows.svg')

				&--sass
					background-image: url('#{$icons}/sass.svg')

				&--grunt
					background-image: url('#{$icons}/grunt.svg')

				&--wordpress
					background-image: url('#{$icons}/wordpress.svg')

				&--linux
					background-image: url('#{$icons}/linux.svg')

				&--git
					background-image: url('#{$icons}/git.svg')

				&--jquery
					background-image: url('#{$icons}/jquery.svg')

				&--laravel
					background-image: url('#{$icons}/laravel.svg')

				&--apache
					background-image: url('#{$icons}/apache.svg')

				&--bootstrap
					background-image: url('#{$icons}/bootstrap.svg')

				&--affinity
					background-image: url('#{$icons}/affinity.svg')

				&--mysql
					background-image: url('#{$icons}/mysql.svg')

				&--nginx
					background-image: url('#{$icons}/nginx.svg')

		&:hover .box
			transform: rotateX(90deg) 